@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

/* General */

body {
  font-family: 'Roboto Mono', monospace;
  background-color: transparent;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
button:active {
  background-color: rgb(211, 113, 173);
  border: none;
  width: 42px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0.2em 0.2em rgb(75, 13, 65);
  -webkit-box-shadow: 0.2em 0.2em rgb(13, 53, 75);
  -moz-box-shadow: 0.2em 0.2em rgb(13, 53, 75);
}

button:focus {
  translate: 0.2em 0.2em;
  box-shadow: 0.2em 0.2em rgb(13, 53, 75) inset;
  -webkit-box-shadow: 0.2em 0.2em rgb(13, 53, 75) inset;
  -moz-box-shadow: 0.2em 0.2em rgb(13, 53, 75) inset;
}

/* Clock Body */

.clock-container {
  background-color: rgb(221, 221, 221); 
  width: 250px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px rgb(31,31,31);
}

/* Display + Stop/Start/Reset Controls */

#time-left {
  font-size: 65px;
  text-align: center;
  background-color: #90a5e9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(46, 46, 46) inset;
  color: black;
}

#display-controls {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#timer-label {
  font-size: 15px;
  text-align: center;
  padding-top: 2px;
  background-color: #90a5e9;
  border-radius: 10px;
  height: 30px;
  flex: 2;
  box-shadow: 3px 3px rgb(46,46,46) inset;
  /* color:white; */
}

#timer-ssr {
  flex: 1;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-start: end;
}

/* Timer Length Controls */

.length-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.inc-dec-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height:60px;
}

.break-container, 
.session-container {
  text-align: center;
/*   display: inline-block; */
  border: 2px solid rgb(109, 26, 81);
  padding: 10px;
  border-radius: 10px;
  width: 40%;
}

.timer-length {
  font-size: 2em;
}

.break-container,
.inc-arrow {
  margin-right: 12px;
}
